
body {width: 100%; background: none; }

.BgAtas1 {background-size: cover; background: #28A745;  overflow: auto; height: 90px; overflow: value; margin-top: 0px;  border-radius: 0px 0px 10% 10%;}

/*Navbar*/

.BgNavbar { display: flex;  align-items: center; border-radius: 0px; position: fixed; top: 0;  background: rgba( 255, 255, 255, 0.0 ); backdrop-filter: blur( 10px );
 overflow: auto;  overflow: value; width: 100%; height: 50px; }

input[type=search] {
  width: 70%;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 0%;
  margin-bottom: 1%;
  border: none;
  border-radius: 10px 0px 0px 10px;
  font-size: 16px;
  background-color: none;
  background-image: url('searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  height:  20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  outline: 0; border: 1px solid transparent;
}

input[type=search]:focus {
   border: none; 
}

button {display: inline-block;  color: gray; border: none; background: none; height:  20px; width: 10%;   margin-right: 3%;
  margin-left: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
  }

form {display: flex; align-items: center; float: left; border: 2px #eaeaea solid; margin-left: 15px; margin-right: 15px; -webkit-tap-highlight-color: transparent; display: inline-block;  color: white;  width: 65%; height: auto; background: white; border-radius: 5px; white-space: nowrap; overflow: hidden; margin-bottom: 5px; margin-top: 5px;}

.nav2 {display: flex; flex-direction: column; align-items: center; justify-content: center;   width: 13%; height: 30px; border-radius: 0px 0px 10px 10px;  background-color: none; display: flex; overflow-x: auto; color:  white;  --fa-secondary-opacity: 100; } 

.nav2:hover {text-decoration: none; -webkit-tap-highlight-color: transparent; color:  grey; --fa-secondary-opacity: 100;} 

.nav3 {margin-right: 15px;  display: flex; flex-direction: column; align-items: center; justify-content: center; float: left; margin: 0%;  width: 13%; height: 30px; border-radius: 0px 0px 10px 10px;  background-color: none; display: flex; overflow-x: auto; color:  white;  --fa-secondary-opacity: 100;} 

.nav3:hover { text-decoration: none; -webkit-tap-highlight-color: transparent; color: grey;} 

.nav2__icon2 { width: auto; } 

.nav3__icon3 { width: auto; } 

.search { color: grey; margin-left: 10px;}

.NotifChat {background: linear-gradient(to right, #A30000 10%, #d30000 80%); position: fixed; color: white;  margin-top: -10px; width: 18px; height: auto; border-radius: 50%;  text-align: center; justify-content: center; item-align: center; font-size: 12px; display: flex; margin-left: 10px;}


/*Menu Topup*/

.PbTopUp1 {box-shadow: 0  0px 5px rgba(0, 0, 0, 0.2); position: sticky;  margin-top: -35px; margin-left: 5%; margin-right: 5%; margin-bottom: 10px; background : white;  height: 70px; overflow: hidden; width: 90%;  border-radius: 15px;}

.PbTopUp3 {margin: 0%;  height: auto; overflow: hidden; width: 40%;}

.AyoudiecardS1 {display: flex;  color: black; float: left; width: 60%; height: 100%;  align-items: center; -webkit-tap-highlight-color: transparent; text-decoration: none; }

.AyoudiecardS1:hover { background: whitesmoke;  color: #e30000;  } 

.AyoudieTittleIcon1S1 { margin-left: 5px; color: black; font-weight: bold; text-align: left;  font-size: 10px; }

.AyoudieTittleIcon2S1 { margin-left: 5px; color: grey;  text-align: left;  font-size: 10px;}

.AyoudiecardS { color: black; float: left; width: 50%; height: 50%;  display: flex; align-items: center; justify-content: center;  -webkit-tap-highlight-color: transparent; overflow: hidden; text-decoration: none;}

.AyoudiecardS:hover { background: whitesmoke;  color: #e30000;  }

.AyoudieTittleIcon1S { margin-left: 5px; color: black; font-weight: bold; text-align: left;  font-size: 10px; }

.AyoudieLink {text-decoration: none; -webkit-tap-highlight-color: transparent;}

/*Flashsale*/

.BgFlashSale1 {text-align: center; margin-bottom: 20px; margin-top: 10px; margin-left: 0%; margin-right: 0%;     background-size: cover; background: none;  overflow: auto; height: auto; overflow: value; width: auto; border-radius:0px;}

.BgFlashSale2 {margin-top: 10px; auto; align-items: center; justify-content: center; height: auto; overflow: value; width: auto; text-align: center; margin-botom: 10px;}

.TextFlashSale {margin-left: 3%;  margin-right: 10px; float: left; font-family: Helvetica; font-weight: bold; font-size: 90%; color: #21CE7E; text-align: center;}

    p{ float: left;  align-items: center; justify-content: center;  color: white; font-size: 60%; font-weight: bold; text-align:center; background: none; height: auto; width: 25px;  margin: 0px; border-radius: 5px; }

#AyoudieTime {display: flex; float: left;  color: white; background: #21CE7E; height: auto; width: auto;  margin: 2px; border-radius: 5px; }

.BgCardFS1 {background: none; overflow: auto; height: auto; overflow: value; margin-bottom: 10px;}

.BgCardFS2 {background: none; position: sticky; height: 0%; overflow: value; width: 1390px; margin-bottom: 10px;}

.cardAyoudieSlideFS { text-align: center; box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);   background: white;  float: left;   border-radius: 5px; background: white; width: 100px; height: auto; margin-bottom: 10px; margin-top: 20px; margin-left: 15px;  display: inline-block;  overflow: hidden; text-decoration: none; -webkit-tap-highlight-color: transparent; text-decoration: none; } 

.AyoudieImageSlideFS {height: auto; width: 100%; border-radius: 0px;}

.AyoudietitleSlideFS {text-align: center; white-space: nowrap; margin-left: 5%; margin-right: 5%; width: 90%; margin-top: 10px; color: black; font-size: 12px; display: inline-block; overflow: hidden; text-overflow: ellipsis;}

.AyoudiePriceSlideFS {margin-left: 5px; font-weight: bold; margin-top: 5px; margin-bottom: 5px; font-size: 80%;  color: mediumseagreen; display: inline-block;}

.AyoudiePriceSlideDisFS {margin-left: 5px; font-weight: bold; margin-top: 0; font-size: 80%;  color: grey; display: inline-block;}

 .AyoudieFloatNew1 {animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95); box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);  margin-left: 10%; margin-right: 10%;  width: 80% !important;  float: right; margin-top: -50px;  border-radius:  25px; opacity: 99%; height: auto; background: linear-gradient(to right, mediumseagreen 10%,  #21CE7E 80%);  color: white;
 font-size: 70%; display: flex;  align-items: center; justify-content: center;  overflow: hidden; 
  font-weight: bold;
  text-align: center;
  top: 0;  }

 .AyoudieLabelSlideFloatNewFS {margin-top: 0%; float: left; margin-right: 0%; border-radius: 0px 0px 20px 0px;  opacity: 100%; width: 70%; background: linear-gradient(to right, #21CE7E 10%, mediumseagreen 80%); color: white;
 font-size: 12px; display: inline-block;  align-items: center; justify-content: center;  overflow: hidden; 
  font-weight: bold;
  text-align: center;
  top: 10;  }

.ButtonNext { text-transform: uppercase; float: left; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);  color: white;   border-radius: 25px; background: linear-gradient(to right, mediumseagreen 10%,  #21CE7E 80%); width: 90%; height: auto; margin-left: 5%; margin-right: 5%; margin-top: 20px: margin-bottom: 20px; justify-content: center; align-items: center; display: flex; flex-direction: column;  flex-grow: 1; min-width: 50px; overflow: hidden;  font-size: 15px;  text-decoration: none; -webkit-tap-highlight-color: transparent; } 

.ButtonNext:hover { text-transform: uppercase; height: auto: width: auto; left: 0; top: 0;   background: white; color: #21CE7E; transform: scale(1.01); }

@keyframes bounce {
50% {
    transform: translateY(-15px);
  }
}


</St
